<div class="dashboard-wrapper member-profile">
    <div class="container-fluid  dashboard-content">
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="page-header">
                    <h2 class="pageheader-title"><i class="fa fa-fw fa-user"></i> Thông tin tài khoản </h2>
                </div>
            </div>
        </div>
          {{#if flash}}
                        <div class="alert alert-dismissible alert-{{flash.type}}" >
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                            <strong>{{flash.intro}} </strong>{{{flash.message}}}
                        </div>
                        {{/if}}
        
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                {{!-- Thẻ chứa thông tin tài khoản --}}
                <div class="card member-profile__info">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-12 col-md-6">
                                <div class="form-group mb-2">
                                    <label class="font-weight-bold">Họ và tên:</label>
                                    <span>{{name}}</span>
                                </div>
                            </div>
                            <div class="col-12 col-md-6">
                                <div class="form-group mb-2">
                                    <label class="font-weight-bold">Ngày sinh:</label>
                                    <span>{{dob}}</span>
                                </div>
                            </div>
                            <div class="col-12 col-md-6">
                                <div class="form-group mb-2">
                                    <label class="font-weight-bold">Email:</label>
                                    <span>{{email}}</span>
                                </div>
                            </div>
                            <div class="col-12 col-md-6">
                                <div class="form-group mb-2">
                                    <label class="font-weight-bold">Số điện thoại:</label>
                                    <span>{{phone}}</span>
                                </div>
                            </div>
                            <div class="col-12 col-md-4">
                                <div class="form-group mb-2">
                                    <label class="font-weight-bold">Mã tài khoản:</label>
                                    <span>{{id}}</span>
                                </div>
                            </div>
                            <div class="col-12 col-md-4">
                                <div class="form-group mb-2">
                                    <label class="font-weight-bold">Tên tài khoản:</label>
                                    <span>{{username}}</span>
                                </div>
                            </div>
                            <div class="col-12 col-md-4">
                                <div class="form-group mb-2">
                                    <label class="font-weight-bold">Tình trạng:</label>
                                    <span>{{status}}</span>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group mb-2">
                                    <label class="font-weight-bold">Số dư tài khoản:</label>
                                    <span><strong>{{ amount}}</strong></span>
                                </div>
                            </div>
                            <div class="col-12 col-md-6">
                                <div class="form-group mb-2">
                                    <label class="font-weight-bold">Ảnh CMND/CCCD (trước):</label>
                                    <img src="images/users/{{imgFront}}" alt="CMND/CCCD">
                                </div>
                            </div>
                            <div class="col-12 col-md-6">
                                <div class="form-group mb-2">
                                    <label class="font-weight-bold">Ảnh CMND/CCCD (sau):</label>
                                    <img src="images/users/{{imgBack}}" alt="CMND/CCCD">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                {{!-- Thẻ chứa form dùng để bổ sung thông tin --}}
                <div class="card mt-3 member-profile__update">
                    <div class="card-header">
                        <h4 class="mb-0 text-danger">Bổ sung CMND/CCCD</h4>
                    </div>
                    <div class="card-body">
                        <form id="member-profile__submit-form" class="needs-validation member-profile__form" enctype="multipart/form-data" action="/update-img" method="post" novalidate>
                            <div class="form-row">
                                <div class="col-12 col-lg-6">
                                    <div class="form-group member-profile__form-card">
                                        <label class="mb-2 font-weight-bold">Ảnh CMND/CCCD (trước):</label>
                                        <div class="member-profile__form-card-wrapper">
                                            <img id="member-profile__form-view1" src="/images/image-default.jpg"
                                                alt="Image">
                                            <input type="file" class="form-control d-none" id="member-profile__form-file1"
                                            accept="image/*" required placeholder="CCCD mặt trước" name="idphoto1">
                                            <label for="member-profile__form-file1">
                                                <i class="fa-solid fa-camera"></i>
                                            </label>
                                            <div class="invalid-feedback">
                                                Vui lòng tải ảnh mặt trước CMND/CCCD
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-12 col-lg-6">
                                    <div class="form-group member-profile__form-card">
                                        <label class="mb-2 font-weight-bold">Ảnh CMND/CCCD (sau):</label>
                                        <div class="member-profile__form-card-wrapper">
                                            <img id="member-profile__form-view2" src="/images/image-default.jpg"
                                                alt="Image">
                                            <input type="file" class="form-control d-none"  id="member-profile__form-file2" 
                                            accept="image/*" required placeholder="CCCD mặt sau" name="idphoto2" >
                                            <label for="member-profile__form-file2">
                                                <i class="fa-solid fa-camera"></i>
                                            </label>
                                            <div class="invalid-feedback">
                                                Vui lòng tải ảnh mặt sau CMND/CCCD
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-12">
                                    <div class="member-profile__form-control">
                                        <button type="submit" class="btn btn-primary">Cập nhật</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        const memberProfileForm = document.getElementById("member-profile__submit-form")
        const memberProfileFileInput1 = document.getElementById('member-profile__form-file1')
        const memberProfileFileInput2 = document.getElementById('member-profile__form-file2')
        const memberProfileImageView1 = document.getElementById('member-profile__form-view1')
        const memberProfileImageView2 = document.getElementById('member-profile__form-view2')

        memberProfileForm.addEventListener('submit', function (event) {
            if (memberProfileForm.checkValidity() === false) {
                event.preventDefault()
                event.stopPropagation()
            }
            memberProfileForm.classList.add('was-validated')
        }, false)

        // Sự kiện thêm ảnh mặt trước
        memberProfileFileInput1.addEventListener('change', function (e) {
            if (memberProfileFileInput1.files.lenght !== 0) {
                const file = e.target.files[0]
                const reader = new FileReader()

                reader.onload = function (e) {
                    memberProfileImageView1.setAttribute('src', e.target.result)
                }
                reader.readAsDataURL(file)
            }
        })

        // Sự kiện thêm ảnh mặt sau
        memberProfileFileInput2.addEventListener('change', function (e) {
            if (memberProfileFileInput2.files.lenght !== 0) {
                const file = e.target.files[0]
                const reader = new FileReader()

                reader.onload = function (e) {
                    memberProfileImageView2.setAttribute('src', e.target.result)
                }

                reader.readAsDataURL(file)
            }
        })
    })
</script>