<div class="dashboard-wrapper user-profile">
    <div class="container-fluid  dashboard-content">
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="page-header">
                    <h2 class="pageheader-title"><i class="fa fa-fw fa-user"></i> Thông tin tài khoản </h2>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                {{!-- Thẻ chứa thông tin tài khoản --}}
                <div class="card user-profile__info">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-12 col-md-6">
                                <div class="form-group mb-2">
                                    <label class="font-weight-bold">Họ và tên:</label>
                                    <span>{{user.name}}</span>
                                </div>
                            </div>
                            <div class="col-12 col-md-6">
                                <div class="form-group mb-2">
                                    <label class="font-weight-bold">Ngày sinh:</label>
                                    <span>{{formatDate user.birthday}}</span>
                                </div>
                            </div>
                            <div class="col-12 col-md-6">
                                <div class="form-group mb-2">
                                    <label class="font-weight-bold">Email:</label>
                                    <span>{{user.email}}</span>
                                </div>
                            </div>
                            <div class="col-12 col-md-6">
                                <div class="form-group mb-2">
                                    <label class="font-weight-bold">Số điện thoại:</label>
                                    <span>{{user.phone}}</span>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group mb-2">
                                    <label class="font-weight-bold">Mã tài khoản:</label>
                                    <span>{{user.accountId}}</span>
                                </div>
                            </div>
                            <div class="col-12 col-md-6">
                                <div class="form-group mb-2">
                                    <label class="font-weight-bold">Tên tài khoản:</label>
                                    <span>{{user.username}}</span>
                                </div>
                            </div>
                            <div class="col-12 col-md-6">
                                <div class="form-group mb-2">
                                    <label class="font-weight-bold">Tình trạng:</label>
                                    {{#switch user.status}}
                                    {{#case 0}}
                                    <span>Chờ kích hoạt</span>
                                    {{/case}}
                                    {{#case 1}}
                                    <span>Kích hoạt</span>
                                    {{/case}}
                                    {{#case 2}}
                                    <span>Chờ cập nhật</span>
                                    {{/case}}
                                    {{/switch}}
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group mb-2">
                                    <label class="font-weight-bold">Số dư tài khoản:</label>
                                    <span>{{formatMoney user.amount}}đ</span>
                                </div>
                            </div>
                            <div class="col-12 col-md-6">
                                <div class="form-group mb-2">
                                    <label class="font-weight-bold">Ảnh CMND/CCCD (trước):</label>
                                    <img src="/images/users/{{user.imgFront}}" alt="CMND/CCCD">
                                </div>
                            </div>
                            <div class="col-12 col-md-6">
                                <div class="form-group mb-2">
                                    <label class="font-weight-bold">Ảnh CMND/CCCD (sau):</label>
                                    <img src="/images/users/{{user.imgBack}}" alt="CMND/CCCD">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                {{#switch user.status}}
                {{#case 2}}
                {{!-- Thẻ chứa form dùng để bổ sung thông tin --}}
                <div class="card mt-3 user-profile__update">
                    <div class="card-header">
                        <h4 class="mb-0 text-danger">Bổ sung CMND/CCCD</h4>
                    </div>
                    <div class="card-body">
                        <form id="user-profile__submit-form" class="needs-validation user-profile__form" novalidate>
                            <div class="form-row">
                                <div class="col-12 col-lg-6">
                                    <div class="form-group user-profile__form-card">
                                        <label class="mb-2 font-weight-bold">Ảnh CMND/CCCD (trước):</label>
                                        <div class="user-profile__form-card-wrapper">
                                            <img id="user-profile__form-view1" src="/images/image-default.jpg"
                                                alt="Image">
                                            <input type="file" class="form-control d-none" id="user-profile__form-file1"
                                                accept="image/*" required placeholder="Họ và tên">
                                            <label for="user-profile__form-file1">
                                                <i class="fa-solid fa-camera"></i>
                                            </label>
                                            <div class="invalid-feedback">
                                                Vui lòng tải ảnh mặt trước CMND/CCCD
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-12 col-lg-6">
                                    <div class="form-group user-profile__form-card">
                                        <label class="mb-2 font-weight-bold">Ảnh CMND/CCCD (sau):</label>
                                        <div class="user-profile__form-card-wrapper">
                                            <img id="user-profile__form-view2" src="/images/image-default.jpg"
                                                alt="Image">
                                            <input type="file" class="form-control d-none" id="user-profile__form-file2"
                                                accept="image/*" required placeholder="Họ và tên">
                                            <label for="user-profile__form-file2">
                                                <i class="fa-solid fa-camera"></i>
                                            </label>
                                            <div class="invalid-feedback">
                                                Vui lòng tải ảnh mặt sau CMND/CCCD
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-12">
                                    <div class="user-profile__form-control">
                                        <button type="submit" class="btn btn-primary">Cập nhật</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                {{/case}}
                {{/switch}}
            </div>
        </div>
    </div>
</div>

{{!-- Modal message --}}
<div id="profile-modal-message" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Thông báo</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p id="profile-modal-body__message"></p>
            </div>
            <div class="modal-footer">
                <button id="recovery2-modal-btn" type="button" class="btn btn-success" data-dismiss="modal">Xác
                    nhận</button>
            </div>
        </div>
    </div>
</div>
