<div class="transaction">
    <h2 class="transaction-title">
        Danh sách giao dịch
    </h2>
    <div class="px-md-4">
        <div class="table-responsive">
            <table id="transaction-table" class="table">
                <thead>
                    <tr>
                        <th style="min-width: 100px;">ID</th>
                        <th style="min-width: 150px;">Loại giao dịch</th>
                        <th style="min-width: 120px;">Số tiền</th>
                        <th style="min-width: 120px;">Ngày tạo</th>
                        <th style="min-width: 120px;">Tình trạng</th>
                        <th style="min-width: 120px;">Hành động</th>
                    </tr>
                </thead>
                <tbody id="transaction-body-table">
                    {{#if transactions.length}}
                    {{#each transactions}}
                    <tr class="transaction-table__item">
                        <td class="align-middle">
                            <a href="/admin/transactions/{{this._id}}">
                                <b>{{formatId this._id}}</b>
                            </a>
                        </td>
                        <td class="align-middle">
                            <b>{{formatType this.type}}</b>
                        </td>
                        <td class="align-middle">
                            {{formatMoney this.amount}}đ
                        </td>
                        <td class="align-middle">
                            {{formatDate this.createdAt}}
                        </td>
                        <td class="align-middle">
                            <b class="text-secondary">Chờ duyệt</b>
                        </td>
                        <td class="align-middle">
                            <a href="/admin/transactions/{{this._id}}" type="button" class="btn btn-outline-primary">
                                Xem chi tiết
                            </a>
                        </td>
                    </tr>
                    {{/each}}
                    {{else}}
                    <tr class="transaction-table__item">
                        <td class="align-middle text-center" colspan="6">Hiện chưa có giao dịch nào cần duyệt.</td>
                    </tr>
                    {{/if}}
                </tbody>
            </table>
        </div>
    </div>
    {{#if transactions.length}}
    <div class="d-flex justify-content-center mt-4">
        <button id="transaction-load-btn" type="button" class="btn btn-primary">Xem thêm</button>
    </div>
    {{/if}}
</div>