<div class="account">
    <h2 class="account-title">
        Danh sách tài khoản
    </h2>
    <ul class="account-filters">
        <li class="account-filter">
            Trạng thái tài khoản:
            <select name="" id="account-status-select">
                <option value="wait-active">Chờ kích hoạt</option>
                <option value="active">Đã kích hoạt</option>
                <option value="disable">Bị vô hiệu hóa</option>
                <option value="block">Bị khóa vô thời hạn</option>
            </select>
        </li>
    </ul>
    <div class="px-md-4">
        <div class="table-responsive">
            <table id="account-table" class="table wait-active">
                <thead>
                    <tr>
                        <th style="min-width: 120px;">ID</th>
                        <th style="min-width: 150px;">Tên tài khoản</th>
                        <th style="min-width: 150px;">Số điện thoại</th>
                        <th style="min-width: 120px;">Tình trạng</th>
                        <th style="min-width: 120px;">Hành động</th>
                    </tr>
                </thead>
                <tbody id="body-table">
                    {{#each accounts}}
                    <tr class="account-table__item">
                        <td class="align-middle">
                            <a href="/admin/accounts/{{this._id}}">
                                <b>{{formatId this._id}}</b>
                            </a>
                        </td>
                        <td class="align-middle">
                            {{this.username}}
                        </td>
                        <td class="align-middle">
                            {{this.phone}}
                        </td>
                        <td class="account-table__item-status align-middle">
                            <b>{{formatStatus this.status}}</b>
                        </td>
                        <td class="align-middle">
                            <a href="/admin/accounts/{{this._id}}" type="button" class="btn btn-outline-primary">
                                Xem chi tiết
                            </a>
                        </td>
                    </tr>
                    {{else}}
                    <tr class="account-table__item">
                        <td class="align-middle text-center" colspan="5">Hiện tại không có tài khoản.</td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
    </div>
    {{#if accounts.length}}
    <div class="d-flex justify-content-center mt-4">
        <button id="account-load-btn" type="button" class="btn btn-primary">Xem thêm</button>
    </div>
    {{/if}}
</div>

<script>
    const accountStatusSelect = $('#account-status-select')
    function mapHtmls(item) {
        let status
        switch (item.status) {
            case 0:
                status = 'Chờ kích hoạt'
                break
            case 1:
                status = 'Đã kích hoạt'
                break
            case 3:
                status = 'Vô hiệu hóa'
                break
            default:
                status = 'Khóa vô thời hạn'
                break
        }
        return `<tr class="account-table__item">
            <td class="align-middle">
                <a href="/admin/accounts/${item._id}">
                    <b>${item._id.slice(0,10) + '...'}</b>
                </a>
            </td>
            <td class="align-middle">
                ${item.username}
            </td>
            <td class="align-middle">
                ${item.phone}
            </td>
            <td class="account-table__item-status align-middle">
                <b>${status}</b>
            </td>
            <td class="align-middle">
                <a href="/admin/accounts/${item._id}" type="button" class="btn btn-outline-primary">
                    Xem chi tiết
                </a>
            </td>
        </tr>`
    }
    accountStatusSelect.change(function() {
        const selectType = $(this).val()
        const url = `http://localhost:3000/admin/accounts?status=${selectType}&json=true`
        $.get(url, (data, textStatus, jqXHR) => {
            let htmlNewTbody
            if(data.length > 0) {
                const newTbody = data.map(mapHtmls)
                htmlNewTbody = newTbody.join('\n')
                $('#account-table').attr('class', `table ${selectType}`)
                if ($("#account-load-btn").hasClass('d-none')) {
                    $("#account-load-btn").removeClass('d-none');
                }
            } else {
                htmlNewTbody = `<tr class="account-table__item">
                    <td class="align-middle text-center" colspan="5">Hiện tại không có tài khoản.</td>
                </tr>`
                $('#account-load-btn').addClass('d-none')
            }
            $('#body-table').html(htmlNewTbody)
        })
    })

    $('#account-load-btn').click(() => {
        const tr = $('#body-table').children('tr')
        const selectType = accountStatusSelect.val()
        const url = `http://localhost:3000/admin/accounts?status=${selectType}&json=true&start=${tr.length}`
        $.get(url, (data, textStatus, jqXHR) => {
            if(data.length > 0) {
                const newTrs = data.map(mapHtmls)
                const htmlNewTrs = newTrs.join('\n')
                $('#body-table').append(htmlNewTrs)
                if(data.length < 10) {
                    $('#account-load-btn').addClass('d-none')
                }
            } else {
                $('#account-load-btn').addClass('d-none')
            }
            
        })
    })
</script>
